*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bangla', sans-serif;
    font-size: 20px;
}

body{
    width: 100wh;
}

/* Section  */
section{
    padding: 50px 0;
}
section .title{
    text-align: center;
    margin-bottom: 50px;
}
section .title h2{
    font-size: 36px;
    font-weight: 700;
    color: #333;
}
section .title hr{
    width: 100px;
    height: 3px;
    background-color: #333;
    margin: 10px auto;
}

/* Section Services */
section .services{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
section .services .service{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    background: #fff;
}
section .services .service:hover{
    transform: translateY(-10px);
}
section .services .service img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
}
section .services .service h3{
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}
section .services .service p{
    font-size: 18px;
    color: #666;
}
section .services .service a.go{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;
}
section .services .service a.go.disabled{
    background-color: #999;
}
section .services .service a.go:hover{
    background-color: #555;
}

/* Loader */
/* HTML: <div class="loader"></div> */
.loader {
    width: 85px;
    height: 50px;
    --g1:conic-gradient(from  90deg at left   3px top   3px,#000000 90deg,#000 0);
    --g2:conic-gradient(from -90deg at bottom 3px right 3px,#000 90deg,#000 0);
    background: var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
    background-position: left,center,right;
    background-repeat: no-repeat;
    animation: l10 1s infinite alternate;
}
@keyframes l10 {
    0%,
    2%   {background-size:25px 50% ,25px 50% ,25px 50%}
    20%  {background-size:25px 25% ,25px 50% ,25px 50%}
    40%  {background-size:25px 100%,25px 25% ,25px 50%}
    60%  {background-size:25px 50% ,25px 100%,25px 25%}
    80%  {background-size:25px 50% ,25px 50% ,25px 100%}
    98%,
    100% {background-size:25px 50% ,25px 50% ,25px 50%}
}

/* Alert or Notification Or Error Message */
.text-center-danger{
    text-align: center;
    color: #dc3545;
    font-size: 20px !important;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Footer */
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}
footer p{
    font-size: 18px;
}

#main{
    background: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
}